.navigation {
  z-index: 1;
  position: relative;
}
.navigation__homeInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding-left: 50px;
  padding-right: 50px;
}

.navBar {
  position: fixed;
  background-color: #dee3eb;
  padding: 15px 0px 30px 10px;
}
.logo {
  margin-left: 30px;
}
.logo img {
  width: 35px;
  height: 35px;
  margin-top: -2px;
}

.navigation__homeInfo li:first-child {
  margin-left: 0px;
  padding-right: 280px;
}
.navigation__homeInfo li:last-child {
  margin-left: 240px;
}

.navigation__user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.navUser {
  position: fixed;
  margin-top: 50px;
}

.navuser__name {
  margin-bottom: -100px;
  position: fixed;
}

.userIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.navigation__user span {
  display: flex;
  justify-content: center;
}

.navVip {
  list-style: none;
  position: fixed;
  margin-top: 58px;
  margin-left: 125px;
}
.navVip img {
  width: 35px;
  height: 35px;
  opacity: 0.5;
}
