.aboutHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 80px;
}

.aboutHeader span {
  margin-bottom: 5px;
}

.aboutFamco,
.aboutMe,
.aboutPortfolio,
.aboutContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  margin-bottom: 60px;
}
.aboutFamco span {
  margin-bottom: 5px;
}

.aboutFamco span,
.aboutMe span,
.aboutPortfolio span {
  font-size: 16px;
  font-style: italic;
  line-height: 20px;
}

.aboutPortfolio img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 250px;
  height: 250px;
  border-radius: 30px;
}

.aboutPortfolio span {
  font-weight: bold;
}

.aboutContact a,
.aboutPortfolio a {
  color: blue;
  text-decoration: underline;
}
