@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

.authContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.authInput {
  max-width: 320px;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  font-size: 12px;
  color: black;
}

.authSubmit {
  text-align: center;
  justify-items: center;
  background: #04aaff;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.authError {
  color: tomato;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.authSwitch {
  color: #04aaff;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 50px;
  display: block;
  font-size: 12px;
  text-decoration: underline;
}

.authBtn {
  cursor: pointer;
  border-radius: 15px;
  border: none;
  padding: 5px 0px;
  font-size: 12px;
  text-align: center;
  width: 150px;
  background: rgb(252, 246, 246);
  cursor: pointer;
  font-weight: bold;
  background: linear-gradient(
    to right,
    rgb(247, 27, 45),
    rgb(252, 207, 70),
    rgb(6, 173, 34),
    rgb(44, 116, 224),
    rgb(247, 27, 45)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.google {
  color: tomato;
}
