.container__profile {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileForm {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  padding-bottom: 30px;
  width: 100%;
  max-width: 320px;
}

.container profile {
  margin-right: 40px;
}

.logOut {
  margin-top: 50px;
  margin-bottom: 700px;
}
