.container__profile {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileForm {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  padding-bottom: 30px;
  width: 100%;
  max-width: 320px;
}

.container profile {
  margin-right: 40px;
}

.logOut {
  margin-top: 50px;
  margin-bottom: 700px;
}

.profileFormInput {
  width: 320px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  margin-bottom: 10px;
  background-color: white;
  color: black;
}

.profileFormBtn {
  cursor: pointer;
  width: 320px;
  padding: 7px 20px;
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: #04aaff;
  cursor: pointer;
}

.profilecancelBtn {
  cursor: pointer;
  width: 150px;
  background-color: rgb(243, 102, 77);
}
