.profileForm {
}

.profileFormInput {
  width: 80%;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  margin-bottom: 10px;
  background-color: white;
  color: black;
}

.onlyEnglish {
  margin-bottom: 20px;
  font-weight: bold;
}

.profileFormBtn {
  cursor: pointer;
  width: 40%;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 10px;
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: #04aaff;
  cursor: pointer;
}

.nameUpdateBtn {
  margin-bottom: 100px;
}

.logOut {
  margin-top: 50px;
  margin-bottom: 820px;
}
